<!DOCTYPE html>

<html ng-app="todoApp">
<head>
    <title>Login</title>
    <script src="/js/dependencies/jquery-1.11.3.min.js"></script>
    <link data-require="bootstrap@3.3.5" data-semver="3.3.5" rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script data-require="bootstrap@3.3.5" data-semver="3.3.5"
            src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.min.js"></script>
    <script src="/js/todo.js"></script>
    <style>
        .editMode {
            background-color: beige;
        }

        th {
            text-align: center;
        }

        .table .action_td button,
        .table .action_td input {
            margin: auto;
        }

        .table .action_td {
            display: flex;
        }

        .editSection {
            cursor: pointer;
        }
    </style>
</head>
<body ng-controller="todoCtrl">

<form ng-submit="submit()" class="form-group">
    <table class="table table-striped">
        <tr>
            <th>이름</th>
            <th>설명</th>
            <th>날짜</th>
            <th>동작</th>
        </tr>
        <tr>
            <td>
                <input class="form-control" ng-model="editItem.name" placeholder="할 일" required/>
            </td>
            <td>
                <input class="form-control" ng-model="editItem.info" placeholder="설명" required/>
            </td>
            <td>
                <input class="form-control editSection" placeholder="날짜" datepicker-popup="{{dateFormat}}"
                       ng-click="open($event)" ng-model="editItem.date" is-open="status.opened" min-date="minDate"
                       required/>
            </td>
            <td class="action_td">
                <input type="submit" value="{{editMode?'완료':'추가'}}" class='btn'
                       ng-class="editMode ? 'btn-success' : 'btn-info'"/>
            </td>
        </tr>
        <tr ng-repeat="item in items | orderBy:'-date'" ng-click="edit(item)"
            data-ng-class="{'success' : selectedItem == item.$$hashKey}" class="editSection">
            <td>{{item.name}}</td>
            <td>{{item.info}}</td>
            <td>{{item.date|date:dateFormat}}</td>
            <td class="action_td">
                <button type="button" ng-click="remove(item)" class="close" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
