<!DOCTYPE html>

<html ng-app="todoMain">
<head>
    <title>to-do list</title>
    <script src="/js/dependencies/jquery-1.11.3.min.js"></script>
    <link data-require="bootstrap@3.3.5" data-semver="3.3.5" rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script data-require="bootstrap@3.3.5" data-semver="3.3.5"
            src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.min.js"></script>
    <script src="/js/todoModule.js"></script>
    <script src="/js/todo.js"></script>
    <style>
        .editMode {
            background-color: beige;
        }

        th {
            text-align: center;
        }

        .table .action_td button,
        .table .action_td input {
            margin: auto;
        }

        .table .action_td {
            display: flex;
        }

        .editSection {
            cursor: pointer;
        }
    </style>
</head>
<body ng-controller="mainCtrl">
<div todo-directive></div>
</body>
</html>
