<form ng-submit="submit()" class="form-group">
    <table class="table table-striped">
        <tr>
            <th>이름</th>
            <th>설명</th>
            <th>날짜</th>
            <th>동작</th>
        </tr>
        <tr>
            <td>
                <input class="form-control" ng-model="editItem.name" placeholder="할 일" required/>
            </td>
            <td>
                <input class="form-control" ng-model="editItem.info" placeholder="설명" required/>
            </td>
            <td>
                <input class="form-control editSection" placeholder="날짜" datepicker-popup="{{dateFormat}}"
                       ng-click="open($event)" ng-model="editItem.date" is-open="status.opened" min-date="minDate"
                       required/>
            </td>
            <td class="action_td">
                <input type="submit" value="{{editMode?'완료':'추가'}}" class='btn'
                       ng-class="editMode ? 'btn-success' : 'btn-info'"/>
            </td>
        </tr>
        <tr ng-repeat="item in items | orderBy:'-date'" ng-click="edit(item)"
            data-ng-class="{'success' : selectedItem == item.$$hashKey}" class="editSection">
            <td>{{item.name}}</td>
            <td>{{item.info}}</td>
            <td>{{item.date|date:dateFormat}}</td>
            <td class="action_td">
                <button type="button" ng-click="remove(item)" class="close" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </td>
        </tr>
    </table>
</form>